.question{
    margin: 20px;
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
    color: #222;
}
.flexDiv{
    display: flex;
}

.toggleButton{
    margin-left:auto;
    margin-right:50px;
}
#faq{
    width: 100%;
    padding: 50px;
}
.ans{
    padding: 20px;
    color: rgb(85, 85, 85);
}