.question{
    margin: 20px;
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
    color: #222;
}
.flexDiv{
    display: flex;
}

.toggleButton{
    margin-left:auto;
    margin-right:20px;
    border: none;
    background-color: whitesmoke;
}
#faq{
    width: 100%;
    padding: 50px;
}
.ans{
    padding: 20px;
    color: rgb(85, 85, 85);
}

@media (max-width:600px) {
    #faq{
        width: 90%;
        padding: 5%;
    }
    .toggleButton{
        margin-left: auto;
        margin-right: 0px;
        padding-left: 20px;
    }
}