.flexDiv{
    display: flex;
}
.flexDiv div{
    width: 50%;
    color: #2f363f;
}
#top div{
    padding: 70px 10% 0px;
}
#top h1{
    font-weight: 600;
    font-size: 28px;
}

#bottom{
    background-color: #f5f5f5;   
}
#bottom div{
    padding: 70px 8% 100px;
}
#bottom h2{
    font-weight: 600;
    font-size: 20px;
}

#exploreAss{
    background-color: #4e0668;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    letter-spacing: 0.2ch;
}


.image{
    margin-top: -50px;
}

@media (max-width:1000px) {
    
#top div{
    padding: 70px 5% 0px;
}
#bottom div{
    padding: 70px 2% 100px;
}
}
@media (max-width:600px) {
    
    #top div .image{
        width: 270px;
        height: 270px;
    }

    #top div{
        padding: 70px 5% 0px;
    }
    #bottom div{
        padding: 50px 5% 10px;
        margin: auto;
    }
    #bottom{
        padding: 20px 0px 100px;
    }
    .flexDiv{
        display: block;
    }
    .flexDiv div{
        width: 100%;
    }
}
