.flexDiv {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
  }
  
  .flexDiv div {
    width: 100%;
    color: #2f363f;
  }
  
  #top div {
    padding: 70px 5% 0px; /* Decrease horizontal padding */
  }
  
  #top h1 {
    font-weight: 600;
    font-size: 28px;
  }
  
  #bottom {
    background-color: #f5f5f5;
  }
  
  #bottom div {
    padding: 70px 5% 100px; /* Decrease horizontal padding */
  }
  
  #bottom h2 {
    font-weight: 600;
    font-size: 20px;
  }
  
  #exploreAss {
    background-color: var(--secondary);
    color: black;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    letter-spacing: 0.2ch;
  }

  #exploreAss:hover{
    border: 2px black solid;
  }
  
  .image {
    margin-top: -50px;
  }
  
  /* Media Queries */
  @media (min-width: 600px) {
    /* Adjust styles for larger screens */
  
    .flexDiv div {
      width: 50%;
    }
  
    #top div {
      padding: 70px 10% 0px; /* Restore original horizontal padding */
    }
  
    #bottom div {
      padding: 70px 8% 100px; /* Restore original horizontal padding */
    }
  }
  #highlight{
    color: var(--primary);
  }