.signin{
    position: absolute;
    width: 25%;
    height: 350px;
    background-color: rgb(237, 234, 230);
    left: 37%;

    right: 37%;
    top: 20%;
    border-radius: 20px;
    padding: 40px;
    display: flex;
}

.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 50%;
}
.right{
    width: 100%;
    height: 100%;
    /* background-color: cadetblue;  */
}
.signin img{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.right p{
    font-size: 19px;
}
.right h3{
    font-size: 23px;
    line-height: 39px;
}
.right button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    background-color: blueviolet;
}
@media (max-width: 1415px){
    .left h1{
        font-size: 17px;
    }
    .right h3{
        font-size: 19px;
    }
    .right p{
        font-size: 14px;
    }
    .signin{
        padding: 20px;
        padding-top: 70px;
    }

}
@media (max-width: 997px){
    .left{
        display: none;
    }
    .right{
        width: 100%;
    }
    .right h3{
        font-size: 29px;
    }
    .right p{
        font-size: 14px;
    }
    .signin{
        padding: 20px;
        padding-top: 70px;
        width: 80%;
        left: 10%;
        right: 10%
    }

}
.phone{
    position: absolute;
    width: 20%;
    height: 360px;
    text-align: center;
    padding: 20px;
    top: 30%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    right: 40%;
    background-color: white;
    border-radius: 10px;
}
