.signin{
    position: absolute;
    width: 50%;
    height: 450px;
    background-color: blueviolet;
    left: 25%;
    right: 25%;
    top: 20%;
    border-radius: 20px;
    padding: 50px;
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.left h1{
    font-size: 23px;
    color: rgb(60, 60, 60)
}
.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 50%;
}
.right{
    width: 50%;
    height: 100%;
    /* background-color: cadetblue;  */
}
.signin img{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.right p{
    font-size: 19px;
}
.right h3{
    font-size: 23px;
    line-height: 39px;
}
.right button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
@media (max-width: 1415px){
    .left h1{
        font-size: 17px;
    }
    .right h3{
        font-size: 19px;
    }
    .right p{
        font-size: 14px;
    }
    .signin{
        padding: 20px;
        padding-top: 70px;
    }

}
@media (max-width: 997px){
    .left{
        display: none;
    }
    .right{
        width: 100%;
    }
    .right h3{
        font-size: 29px;
    }
    .right p{
        font-size: 14px;
    }
    .signin{
        padding: 20px;
        padding-top: 70px;
        width: 80%;
        left: 10%;
        right: 10%
    }

}